.chat-item {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 0 10px;

    &:hover {
        cursor: pointer;
        background-color: $color-chat-item-hover;
    }

    &__line {
        height: 1px;
        width: 100%;
        margin-right: -10px;
        margin-left: -10px;
        margin-bottom: 12px;

        background-color: $color-border3;
    }

    &__block {
        display: flex;

        height: 100%;
    }

    &__avatar {
        height: 45px;
        width: 45px;
        border-radius: 50%;

        background-color: $color-bg-tertiary;
    }

    &__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 10px;

        &-name {
            width: 100%;
            margin-bottom: 5px;

            font-weight: 600;
            font-size: 13px;
            line-height: 100%;
            color: $color-text;
        }

        &-message {
            width: 100%;

            font-weight: 500;
            font-size: 12px;
            line-height: 125%;
            color: $color-accent-soft;
        }
    }

    &_empty-item & {
        &__avatar,
        &__text-name {
            display: none;
        }

        &__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            padding: 0;
        }
    }

    &_selected {
        background-color: inherit;
        border-right: 5px solid $color-accent-soft;

        &:hover {
            cursor: default;
            background-color: inherit;
        }
    }

    &_selected & {
        &__line {
            background-color: inherit;
        }
    }
}
