.chat-dialog {
    ::-webkit-scrollbar {
        display: none;
    }

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 80vw;
    height: 100vh;

    &__header {
        position: fixed;
        top: 0;
        z-index: 3000;

        display: flex;
        align-items: center;
        justify-content: space-between;

        box-sizing: border-box;
        width: 80vw;
        height: 70px;
        padding: 0 20px;
        background-color: $color-bg-primary;

        border-bottom: 1px solid $color-border;

        &-left {
            display: flex;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
        }
    }

    &__user-avatar {
        height: 45px;
        width: 45px;
        margin-right: 20px;

        border-radius: 50%;

        background-color: $color-bg-primary;
    }

    &__user-name {
        font-weight: 700;
        font-size: 16px;
    }

    &__settings {
        width: 20px;
        height: 20px;
    }

    &__reel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        overflow-y: auto;
        margin-top: 70px;
        margin-bottom: 80px;
        padding: 10px 20px 0;
        background-color: transparent;
    }

    &__footer {
        position: fixed;
        bottom: 0;
        z-index: 3000;

        display: flex;
        align-items: center;

        box-sizing: border-box;
        width: 80vw;
        height: 80px;
        padding: 0 20px;
        background-color: $color-bg-primary;
        border-top: 1px solid $color-border;
    }

    &__attach {
        flex-shrink: 0;

        width: 35px;
        height: 35px;
        margin-right: 20px;
    }

    &__send {
        flex-shrink: 0;
        transform: rotate(180deg);

        box-sizing: border-box;
        width: 35px;
        height: 35px;
        padding: 5px;

        border-radius: 50%;

        background-color: $color-btn;

        &:hover {
            cursor: pointer;
            background-color: $color-btn-hover;
        }
    }
}
