.chat-dialog {
    ::-webkit-scrollbar {
        display: none;
    }

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 80vw;
    height: 100vh;

    &__header {
        position: fixed;
        top: 0;
        z-index: 3000;

        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80vw;
        height: 70px;
        padding: 0 20px;
        background-color: $color-bg-primary;

        border-bottom: 1px solid $color-border;

        &-left {
            display: flex;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
        }
    }

    &__user-avatar {
        height: 45px;
        width: 45px;
        margin-right: 20px;

        border-radius: 50%;

        background-color: $color-bg-primary;
    }

    &__user-name {
        font-weight: 700;
        font-size: 16px;
    }

    &__settings {
        width: 20px;
        height: 20px;
    }

    &__reel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        overflow-y: auto;

        // min-height: calc(100vh - 70px);
        // // transform: translateY(90px);
        margin-top: 70px;
        margin-bottom: 90px;
        padding: 10px 20px 0;
        background-color: transparent;
    }

    &__msg {
        min-width: 40px;
        max-width: 400px;
        padding: 15px;
        margin-bottom: 20px;

        border-radius: 12px;
        font-size: 14px;

        &_partner {
            background-color: $color-bg-secondary;

            border-top-left-radius: 0;
        }

        &_my {
            background-color: $color-bg-msg;

            border-bottom-right-radius: 0;
            margin-left: auto;
        }

        &_pictured {
            max-width: 315px;

            padding: 0;
        }

        &-pic {
            border-radius: inherit;
        }
    }

    &__footer {
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        z-index: 3000;

        display: flex;
        align-items: center;

        width: 80vw;
        height: 90px;
        padding: 20px;
        background-color: $color-bg-primary;
        border-top: 1px solid $color-border;
    }

    &__attach {
        flex-shrink: 0;

        width: 35px;
        height: 35px;
        margin-right: 20px;
    }

    &__send {
        flex-shrink: 0;
        transform: rotate(180deg);

        box-sizing: border-box;
        width: 35px;
        height: 35px;
        padding: 5px;

        border-radius: 50%;

        background-color: $color-btn;

        &:hover {
            cursor: pointer;
            background-color: $color-btn-hover;
        }
    }
}
