<div class="server-error-page">
    {{#> ServerAlert }}
        {{> PageTitle 
            className="server-alert__title"
            text="500"
        }} 
        {{> PageTitle 
            className="server-alert__subtitle"
            text="Мы уже фиксим"
        }} 
        {{> Link 
            className="server-alert__link"
            page="chat" 
            text="Назад к чатам"
        }} 
    {{/ ServerAlert }}
</div>