<div class="not-found-page">
    <div class="server-alert" >
        {{> PageTitle 
            className="server-alert__title"
            text="400"
        }} 
        {{> PageTitle 
            className="server-alert__subtitle"
            text="Не туда попали"
        }} 
        {{> Link 
            className="server-alert__link"
            page="chat" 
            text="Назад к чатам"
        }} 
    </div>
</div>