.login-form {
    width: 340px;
    height: 450px;
    padding: 50px 30px 15px;

    border-radius: 15px;
    background-color: #fbfbfb;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);

    &__header {
        margin-bottom: 80px;
    }
    &__title {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        color: #121920;
    }
    &__main {
        height: 100px;
        margin-bottom: 160px;
        font-weight: 600;
    }
    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__submit-btn {
        margin-bottom: 20px;
    }
}
