.profile {
    width: 510px;
    min-height: 200px;

    &-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        min-height: 100px;
        margin-bottom: 20px;

        &__image {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 130px;
            height: 130px;
            margin-bottom: 20px;

            border-radius: 50%;
            background-color: $color-bg-secondary;

            &::after {
                position: absolute;
                left: 0;
                top: 0;
                content: 'Поменять\Aаватар';

                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 14px;
                text-align: center;
                color: $color-text2;
                white-space: pre;

                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: rgba($color: $bunker, $alpha: 0.5);
                transition: opacity 0.5s;
                opacity: 0;
            }
            &:hover {
                cursor: pointer;
                &::after {
                    opacity: 1;
                }
            }
        }

        &__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            color: $color-text;
        }
    }

    &-main {
        min-height: 50px;
    }

    &__alert {
        font-size: 14px;
        color: $color-error;

        &_hidden {
            color: transparent;
        }
    }

    &-footer {
        min-height: 50px;
    }

    &__row {
        display: flex;
        align-items: center;

        height: 24px;
        padding: 10px 0;

        font-weight: 500;
        font-size: 14px;
        line-height: 100%;

        &_spaced {
            display: flex;
            justify-content: space-between;
        }

        &_align-left {
            display: flex;
            justify-content: flex-start;
        }

        &_align-center {
            display: flex;
            justify-content: center;
        }

        &_bordered {
            border-bottom: 1px solid $color-border;
        }
    }
}
