<div class="profile {{ className }}">
    <div class="profile__header">
        <div class="profile__image">
            <img src="/images/default_profile.png"alt="Ваш аватар" class="profile__image-pic">
        </div>
        <span class="profile__title">
            Иван
        </span>
    </div>
    {{> @partial-block}}
</div>
