.textarea {
    resize: none;
    font-family: 'Manrope', sans-serif;

    box-sizing: border-box;
    flex-grow: 1;

    min-height: 40px;
    margin-right: 20px;
    padding: 20px 20px 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: $color-text;

    border-radius: 30px;
    background-color: $color-bg-secondary;
    border: none;

    &:focus {
        outline: 1px solid $color-accent-soft;
    }
}
