{{#> Dialog }}
    <form class="signin-page">
        <div class="signin-page__header">
            {{> PageTitle 
                className="signin-page__title"
                text="Регистрация"
            }}
        </div>
        <div class="signin-page__main">
            {{> InputField
                className="signin-page__input"
                
                label="Почта"
                placeholder="введите адрес" 

                name="email"
                id="email"              
            }}             
            {{> InputField
                className="signin-page__input"
                
                label="Логин"
                placeholder="введите логин" 

                name="login"
                id="login"             
            }}  
            {{> InputField
                className="signin-page__input"
                
                label="Имя"
                placeholder="введите имя" 

                name="first_name"
                id="first_name"             
            }}  
            {{> InputField
                className="signin-page__input"
                
                label="Фамилия"
                placeholder="введите фамилию" 

                name="second_name"
                id="second_name"             
            }}  
            {{> InputField
                className="signin-page__input"
                
                label="Телефон"
                placeholder="введите номер" 

                name="phone"
                id="phone"             
            }}
            {{> InputField
                className="signin-page__input"
                
                label="Пароль"
                placeholder="введите пароль" 

                name="password"
                id="password"             
            }} 
            {{> InputField
                className="signin-page__input"
                
                label="Пароль (ещё раз)"
                placeholder="повторите пароль" 
                error="Пароли не совпадают"

                name="password-repeat"
                id="password-repeat"             
            }}
        </div>
        <div class="signin-page__footer">
            {{> Button 
                className="signin-page__submit-btn"
                text="Создать аккаунт" 
                page="chat"
            }}    
            {{> Link 
                className="signin-page__link"
                page="login"
                text="Вход"
            }}           
        </div>
    </form>

{{/ Dialog }}
