{{#> Dialog }}
    <form class="login-page">
        <div class="login-page__main">
            {{> PageTitle 
                className="login-page__title"
                text="Вход"
            }} 
            {{> InputField
                className="login-page__input"
                
                label="Логин"
                placeholder="введите логин" 
                error=""

                name="login"
                id="login"             
            }}  
            {{> InputField
                className="login-page__input"
                
                label="Пароль"
                placeholder="введите пароль" 
                error="Неверный пароль"

                name="password"
                id="password"               
            }}
        </div>
        <div class="login-page__footer">
            {{> Button 
                className="login-page__submit-btn"
                text="Войти" 
                page="chat"
            }}    
            {{> Link 
                className="login-page__link"
                page="signin" 
                text="Регистрация"
            }}           
        </div>
    </form>

{{/ Dialog }}