<div class="layout-navigated">
    <div class="header layout-navigated__header">
    </div>

    <div class="layout-navigated__content" id="layout-content"></div>

    {{> Footer 
        className="layout-navigated__footer"
    }}
</div>