
<div class="profile-content">
    <div class="profile-content__main">
        <div class="profile-content__row profile-content__row_content-spaced">
            {{> Subtitle 
                className="profile-content__row-title"
                text="Почта"
            }} 
            {{> Subtitle 
                className="profile-content__row-text subtitle_grey"
                text="pochta@yandex.ru"
            }}
        </div>
        <div class="profile-content__row profile-content__row_content-spaced">
            {{> Subtitle 
                className="profile-content__row-title"
                text="Логин"
            }} 
            {{> Subtitle 
                className="profile-content__row-text subtitle_grey"
                text="ivanivanov"
            }}
        </div>
        <div class="profile-content__row profile-content__row_content-spaced">
            {{> Subtitle 
                className="profile-content__row-title"
                text="Имя"
            }} 
            {{> Subtitle 
                className="profile-content__row-text subtitle_grey"
                text="Иван"
            }}
        </div>
        <div class="profile-content__row profile-content__row_content-spaced">
            {{> Subtitle 
                className="profile-content__row-title"
                text="Фамилия"
            }} 
            {{> Subtitle 
                className="profile-content__row-text subtitle_grey"
                text="Иванов"
            }}
        </div>
        <div class="profile-content__row profile-content__row_content-spaced">
            {{> Subtitle 
                className="profile-content__row-title"
                text="Имя в чате"
            }} 
            {{> Subtitle 
                className="profile-content__row-text subtitle_grey"
                text="Иван"
            }}
        </div>
        <div class="profile-content__row profile-content__row_content-spaced">
            {{> Subtitle 
                className="profile-content__row-title"
                text="Телефон"
            }} 
            {{> Subtitle 
                className="profile-content__row-text subtitle_grey"
                text="+7 (909) 967 30 30"
            }}
        </div>
    </div>
    <div class="profile-content__footer">
        <div class="profile-content__row profile-content__row_content-align-left">
            {{> Link 
                className="profile-content__link"
                text="Изменить данные"
            }} 
        </div>
        <div class="profile-content__row profile-content__row_content-align-left">
            {{> Link 
                className="profile-content__link"
                text="Изменить пароль"
            }} 
        </div>
        <div class="profile-content__row profile-content__row_content-align-left">
            {{> Link 
                className="profile-content__link link_red"
                text="Выйти"
            }} 
        </div>
    </div>
</div>
