<aside class="sidebar {{ className }}">
    <div class="sidebar__top">
        <div class="profile sidebar__profile">
            <p class="sidebar__link">
                Профиль
            </p>
        </div>
        <div class="search sidebar__search">
            <p class="sidebar__search-text">
                Поиск
            </p>
        </div>
    </div>
    <div class="sidebar__center">            
        {{> @partial-block}}
    </div>
</aside>