<nav class="footer {{ className }}">
    <div class="footer__content">
        {{> Button 
            className="footer__btn"
            page="login" 
            text="Авторизация"
        }} 
        {{> Button 
            className="footer__btn"
            page="signin" 
            text="Регистрация"
        }}    
        {{> Button 
            className="footer__btn"
            page="chat" 
            text="Список чатов"
        }}   
        {{> Button 
            className="footer__btn"
            page="profile" 
            text="Профиль"
        }} 
        {{> Button 
            className="footer__btn"
            page="settings" 
            text="Настройки"
        }} 
        {{> Button 
            className="footer__btn"
            page="not-found" 
            text="Страница 404"
        }}        
        {{> Button 
            className="footer__btn"
            page="server-error" 
            text="Страница 5**"
        }}  
    </div>
</nav>
