<div class="profile-page">
    <div class="profile-page__left">
        <nav class="profile-page__nav">
            <img src="/icons/arrow.svg" class="profile-page__nav-btn" page="chat">
        </nav>
    </div>
    <div class="profile-page__main">
        {{> Settings 
            editable="true"
            className="profile-page__settings"
        }} 
    </div>
</div>