@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    font-style: normal;
    src: url('../public/fonts/Manrope-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;
    src: url('../public/fonts/Manrope-SemiBold.ttf') format('ttf');
}

.page {
    font-family: 'Manrope', sans-serif;
    background-color: $color-bg-primary;

    margin: 0;
}
