$hawkes-blue: #e4edfd;
$moon-raker: #e7daf8;
$tropical-blue: #c0c6fb;
$melrose: #b0abfe;
$red-orange: #ff2f2f;
$bunker: #0d1117;
$dusty-gray: #999999;
$alabaster: #fbfbfb;
$gallery: #efefef;

$color-text: $bunker;
$color-text2: $alabaster;

$color-accent-soft: $dusty-gray;
$color-error: $red-orange;

$color-border: $alabaster;
$color-border2: $bunker;
$color-border3: $gallery;

$color-btn: $melrose;
$color-btn-hover: $tropical-blue;

$color-bg-footer: $hawkes-blue;
$color-bg-msg: $hawkes-blue;

$color-bg-primary: $moon-raker;
$color-bg-secondary: $alabaster;
$color-bg-tertiary: $tropical-blue;
