<aside class="chat-list {{ className }}">
    <div class="chat-list__top">
        <div class="chat-list__profile">
            <p class="chat-list__link">
                Профиль
            </p>
        </div>
        <div class="search chat-list__search">
            <p class="chat-list__search-text">
                Поиск
            </p>
        </div>
    </div>
    <div class="chat-list__center">            
        {{> @partial-block}}
    </div>
</aside>
