.chat-page {
    display: flex;

    width: 100%;
    min-height: 100vh;

    &__alert_type-dialog {
        margin: auto;
        font-size: 16px;
    }

    &__alert_type-reel {
        margin-top: 40vh;
        font-size: 16px;
    }
}
