.chat-page {
    display: flex;

    width: 100%;
    min-height: 100vh;

    &__chat-list {
        width: 20vw;
        min-height: 100%;
    }

    &__main {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 80vw;
        max-height: 100%;
    }

    &__heading {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-align: center;
        color: $color-text;
    }
}
