<div class="settings {{ className }}">
    <div class="settings__header">
        <div class="settings__profile">
            <img src="/images/default_profile.png" class="settings__profile-pic">
        </div>
        <span class="settings__title">
            Иван
        </span>
    </div>
    <div class="settings__main">
        <div class="settings__row settings__row_content-spaced">
            {{> Subtitle 
                className="settings__row-subtitle"
                text="Почта"
            }} 
            {{> Subtitle 
                className="settings__row-subtitle subtitle_grey"
                text="pochta@yandex.ru"
            }}
        </div>
        <div class="settings__row settings__row_content-spaced">
            {{> Subtitle 
                className="settings__row-title"
                text="Логин"
            }} 
            {{> Subtitle 
                className="settings__row-text subtitle_grey"
                text="ivanivanov"
            }}
        </div>
        <div class="settings__row settings__row_content-spaced">
            {{> Subtitle 
                className="settings__row-title"
                text="Имя"
            }} 
            {{> Subtitle 
                className="settings__row-text subtitle_grey"
                text="Иван"
            }}
        </div>
        <div class="settings__row settings__row_content-spaced">
            {{> Subtitle 
                className="settings__row-title"
                text="Фамилия"
            }} 
            {{> Subtitle 
                className="settings__row-text subtitle_grey"
                text="Иванов"
            }}
        </div>
        <div class="settings__row settings__row_content-spaced">
            {{> Subtitle 
                className="settings__row-title"
                text="Имя в чате"
            }} 
            {{> Subtitle 
                className="settings__row-text subtitle_grey"
                text="Иван"
            }}
        </div>
        <div class="settings__row settings__row_content-spaced">
            {{> Subtitle 
                className="settings__row-title"
                text="Телефон"
            }} 
            {{> Subtitle 
                className="settings__row-text subtitle_grey"
                text="+7 (909) 967 30 30"
            }}
        </div>
    </div>
    <div class="settings__footer">
        <div class="settings__row settings__row_content-align-left">
            {{> Link 
                className="settings__link"
                text="Изменить данные"
            }} 
        </div>
        <div class="settings__row settings__row_content-align-left">
            {{> Link 
                className="settings__link"
                text="Изменить пароль"
            }} 
        </div>
        <div class="settings__row settings__row_content-align-left">
            {{> Link 
                className="settings__link link_red"
                text="Выйти"
            }} 
        </div>
    </div>
</div>
